
.sysBanner {
    width:100%;
    padding: 0.35rem;
    font-size: 0.85rem;
    background-color: darkolivegreen;
    opacity: 0.85;
    color: floralwhite;
    text-align: center;
}

@media (max-width: 48em) {
    .sysBanner {
        font-size: 0.75rem;
        padding: 0.25rem;
    }
}